{
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "@typescript-eslint"
  ],
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "lines-between-class-members": "off",
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "@typescript-eslint/prefer-function-type": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
