body {
  margin: 5px;
  margin-right: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino SansHiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-size: 0.9em;
}

main {
  display: grid;
  grid-template-columns: min-content 1fr min-content auto;
}

/* Leafs pane */

.leafs {
  overflow-x: hidden;
}

.leafs > .marker,
.folders > .marker,
.leafs > .folder > .marker {
  display: none;
}

.leafs > .folder {
  padding: 0;
}

.leaf {
  display: flex;
  padding: 1px 0;
}

.leaf a {
  padding: 2px;
  margin: 0 2px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 1px center;
}

.leaf a:not(:hover) {
  color: #222;
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.leafs .folder > .leaf,
.leafs .folder > .marker {
  display: none;
}

.leafs .folder.open > .leaf {
  display: flex;
  animation: fade-in 0.15s ease-in-out;
}

/* Folders pane */

.folders {
  overflow-x: hidden;
}

.folders > .folder {
  margin: 1px;
  padding: 1px;
}

/* .folders .folder {
  background-image: url(images/folder-close.png);
} */

.folders .folder .folder {
  padding-inline-start: 16px;
  display: none;
}

.folders .folder.path > .folder,
.folders .folder.open > .folder {
  display: block;
}

.marker {
  max-width: fit-content;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.title {
  pointer-events: none;
}

.folders .open > .marker {
  color: white;
  background: #80bdff;
  border-radius: 3px;
  transition: .2s;
}
