$hover-color: rgba(0, 0, 0, .05);
$drag-source-bgcolor0: rgb(232, 240, 254);
$drag-source-bgcolor: #cce5ff;
$drop-folder-bgcolor0: #d1ecf1;
$drop-folder-bgcolor: #cce5ff;
$hilite-bgcolor: #feefc3;
$folder-open-bgcolor: #1da1f2;
$draggable-bgcolor: rgba(0, 123, 255, .7);
$drop-border: rgb(0, 123, 255);
$star-color: #1da1f2;

@import 'glyphs';

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes hilite-fade-out {
  from {
    background-color: $hilite-bgcolor;
    color: initial;
  }
  to { background-color: transparent; }
}

@keyframes hilite-fade-in {
  from { background-color: transparent; }
  to { background-color: $hilite-bgcolor; }
}

// body/other

body {
  margin: 4px 0 0 0;
  margin-right: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino SansHiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-size: 0.9em;
}

main {
  display: grid;
  grid-template-columns: min-content 1fr min-content auto;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

button {
  outline: none;
  background-color: transparent;
  border-radius: 3px;

  > .fa {
    color: rgba(0, 0, 0, .4);
  }

  &:hover > .fa,
  &:focus > .fa {
    color: rgba(0, 0, 0, .5);
  }
  
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .1);
  }

  &:active {
    background-color: rgba(0, 0, 0, .2);
  }

}

.resize-x,
.split-h {
  height: 100%;
  grid-row-start: span 2;
}

.split-h {
  width: 4px;
}

.resize-x {
  cursor: w-resize;
  width: 4px;
}

.resize-y {
  cursor: s-resize;
  height: 4px;
}

.remove-hilite {
  animation-name: hilite-fade-in !important;
  animation-duration: .3s !important;
  animation-timing-function: ease-out;
}

.leafs-wrap,
.folders-wrap {
  position: relative;
  overflow: hidden;
}

.leafs-wrap {
  grid-row-start: span 2;
}

// Leaf menu

.leaf-menu-button,
.folder-menu-button {
  display: none;
  z-index: 1;
  margin-left: auto;
  margin-right: 1px;
  width: 18px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: .4s;
  font-size: 1.2em;

  > .fa-ellipsis-v {
    pointer-events: none;
  }

  &:focus {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }

}

// Search

form {
  display: flex;
  align-items: center;
}

button[type='submit'] {
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: 0;
  display: flex;
  margin-left: 2px;
}

input.query {
  display: inline-block;
  width: 100%;
  padding: 6px;
  padding-left: 28px;
  padding-right: 24px;
  background: rgba(0, 0, 0, .1);
  border: 0;
  outline: none;
  font-size: 1.0em;
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-query .fa-times {
  position: absolute;
  right: 56px;
  cursor: pointer;
  display: inherit;
}

.split-h {
  cursor: col-resize;
}

.menu-button {
  position: relative;
  margin: 0 3px;
}

.bookmark-button {
  margin-left: 5px;
}

.bookmark-button:hover > .fa-star-o {
  color: $star-color;
}

.main-menu-button,
.bookmark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  cursor: pointer;
  border: 0;
  transition: background-color .4s;
  font-size: 1.2em;

  &:focus {
    pointer-events: none;
    + .main-menu {
      display: block;
      animation: fade-in 0.15s ease-in-out;
    }
  }

  > .fa-ellipsis-v {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }
}

.query[value=""] + .fa-times {
  display: none;
}

.query:not([value=""]) {
  background-color: #cce5ff;  
}

[role="menu"] {
  display: none;
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 6px 0;
  width: fit-content;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 4px;
  transition: opacity .218s;
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  outline: none;
  font-size: 13px;
  cursor: default;

  > div {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 4px 12px 4px 0;
    color: #333;
    cursor: pointer;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }

  > hr {
    background: rgba(0, 0, 0, 0.11);
    border-width: 0;
    height: 1px;
    margin: 7px 0;
  }

  > div:hover {
    background-color: rgba(0,0,0,0.08);
  }

  .searched-menu {
    display: none;
  }
  
}

[role="menuitem"] > i {
  width: 2.5em;
  text-align: center;
}

[role=menuitem] > .fa-star-o {
  font-size: 1.2em;
  width: 2em;
  margin-top: -2px;
}

// Leafs pane

.leafs {
  height: 100%;
  padding: 2px;
  overflow-y: auto;

  .leaf-menu-button:focus + .leaf-menu {
    display: block;
    top: calc(100% - 2px);
    animation: fade-in 0.15s ease-in-out;
  }

  .leaf-menu-button.menu-pos-top + .leaf-menu {
    bottom: calc(100% - 2px);
    top: auto;
  }

  > .marker,
  > .folder > .marker,
  .folder > .leaf,
  .folder > .marker,
  .folder.search-path > .folder,
  .folder.search-path > .leaf,
  .button-wrapper {
    display: none;
  }

  .folder.open {
    padding-bottom: 4px;
  }

  > .folder {
    padding: 0;
  }
  
  > .folder.search-path[id='1'] > .marker {
    display: none !important;
  }
  
  > .folder.search-path[id='1'] > .folder {
    padding-inline-start: 0;
    margin-left: 0;
  }
  
  .folder.search-path.path > .marker > .title::before {
    content: '\f07c';
  }
    
  .folder.search-path.path > .leaf.search-path,
  .folder.open > .leaf {
    display: flex;
    animation: fade-in 0.15s ease-in-out;
  }
  
  .search-path > .leaf-menu > .searched-menu {
    display: block;
  }

  .search-path .leaf,
  .search-path .anchor,
  .search-path .marker {
    -webkit-user-drag: none;
  }
}

// Bookmarks

.leaf {
  position: relative;
  display: flex;
  margin: 2px 0;
  align-items: center;

  &.hilite {
    animation-name: hilite-fade-out !important;
    animation-duration: 1.5s !important;
  }

  a {
    margin-left: 2px;
    padding: 3px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 1px center;
  }

  a:not(:hover) {
    color: #222;
    text-decoration: none;
  }

  &.search-path[data-parent-id="1"] > a {
    margin-left: 0;
  }

  &:hover {
    background-color: $hover-color;
  }
  
  &:hover > button {
    display: flex;
  }
  
  &.search-path > a {
    margin-left: 30px;
  }

}

// Folders pane

.folders {
  height: 100%;
  padding: 4px 2px 0 0;
  overflow-y: auto;
  overflow-x: hidden;

  .leaf-menu-button:focus + .leaf-menu {
    display: block;
    position: fixed;
    animation: fade-in 0.15s ease-in-out;
  }
    
  .folder .folder {
    display: none;
  }

  .open > .marker {

    > .title {
      color: white;
      background: $folder-open-bgcolor;
      border-radius: 3px;

      &::before {
        color: white;
        content: '\f07c';
      }
    }
  }
  
  .marker {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 100%;
      right: 0;
    }
    
    &:hover {
      // padding-right: 2px;
      &::before {
        background-color: $hover-color;
      }
      > .button-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        pointer-events: all;
        z-index: 2;
        > button {
          display: flex;
        }
      }
      > .fa-angle-right {
        z-index: 2;
      }  
    }

    > .title {
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    > .button-wrapper {
      display: none;
    }

    .folder-menu-button:focus + .folder-menu {
      display: block;
      position: fixed;
      animation: fade-in 0.15s ease-in-out;
    }

    &.hilite::before {
      animation-name: hilite-fade-out !important;
      animation-duration: 1.5s !important;
    }
  
    &.remove-hilite::before {
      animation-name: hilite-fade-in !important;
      animation-duration: .3s !important;
      animation-timing-function: ease-out;
    }

  }
}

// Leafs, Folders

.leafs .folder.search-path,
.folders .folder {
  margin: 2px 0 2px 2px;
}

.leafs .folder .folder.search-path,
.folders .folder .folder {
  padding-inline-start: 12px;
}

.leafs .folder.search-path > .marker,
.folders .marker {
  display: flex;
  align-items: center;
}

.leafs .folder.search-path.path > .folder,
.folders .folder.path > .folder {
  display: block;
}

.leafs .folder.path > .marker > .fa-angle-right,
.folders .path > .marker > .fa-angle-right {
  transform: rotate(90deg);
}

.fa-angle-right {
  padding: 0 4px;
  transition: .1s;
  cursor: pointer;
}

[data-children='0'] .fa-angle-right {
  visibility: hidden;
  pointer-events: none;
}

.title {
  padding: 3px;
  padding-right: 4px;
  white-space: nowrap;
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  &::before {
    content: '\f07b';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-left: 1px;
    margin-right: 4px;
    color: rgba(0, 0, 0, .5);
    width: 1.0em;
  }

}

// Scroll bar

.scrollbar-area {
  position: absolute;
  // width: 12px;
  // height: 100%;
  // top: 0;
  // right: 0;
  // z-index: 2;
}

// .scrolling + .scrollbar-area {
//   pointer-events: none;
// }

// .folders:not(.scrolling)::-webkit-scrollbar,
// .leafs:not(.scrolling)::-webkit-scrollbar {
//   width: 3px;
// }

.folders::-webkit-scrollbar,
.leafs::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
}

// ::-webkit-scrollbar-track {
//   background: rgba(0, 0, 0, .01);
//   border-left: 1px solid rgba(0, 0, 0, .1);
// }

// Drag & Drop

.drop-top.drag-enter::before,
.drop-folder.drag-enter::before,
.drop-bottom.drag-enter::before {
  content: '';
  position: absolute;
}

.drag-start-leaf .leaf,
.drag-start-leaf .folders > .folder > .marker,
.drag-start-folder .leaf,
.drag-start-folder .marker {
  > .drop-top.drag-enter::after,
  > .drop-bottom.drag-enter::after {
    content: '';
    position: absolute;
    width: 10px;
    border-left: 7px solid $drop-border;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.drag-start-leaf,
.drag-start-folder .folders {
  .leaf {
    > .drop-top,
    > .drop-bottom {
      position: absolute;
      width: calc(100% - 5px);
    }
    > .drop-top {
      z-index: 2;
      top: calc(-50% - 2px);
      height: calc(100% + 2px);
      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px dotted $drop-border;
      }
    }
    > .drop-bottom {
      z-index: 1;
      top: 50%;
      height: calc(100% - 3px);
      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px dotted $drop-border;
      }
    }
    > .drop-top.drag-enter::after,
    > .drop-bottom.drag-enter::after {
      top: calc(50% - 4px);
      left: -1px;
    }
  }
}

.drag-start-leaf,
.drag-start-folder {
  .title {
    pointer-events: none;
  }
  .folders {
    .leaf > .drop-top.drag-enter::after,
    .leaf > .drop-bottom.drag-enter::after {
      left: 0;
    }
    > .leaf + .folder > .marker > .drop-top {
      top: calc(-50% - 2px);
      height: 70%;
      &.drag-enter::before {
        top: calc(50% + 4px);
      }
      &.drag-enter::after {
        top: 50%;
      }
    }
    > .folder + .leaf > .drop-top {
      top: calc(-20% - 2px);
      height: 70%;
      &.drag-enter::before {
        top: 20%;
      }
      &.drag-enter::after {
        top: calc(50% - 9px);
      }
    }
    .marker > .drop-folder {
      position: absolute;
      z-index: 1;
      height: 100%;
      &.drag-enter {
        background-color: $drop-folder-bgcolor;
      }
    }
  }
  .folders > #\32 .folder > .marker,
  .folders > #\33 .folder > .marker {
    > .drop-top,
    > .drop-bottom {
      width: 0;
      height: 0;
    }
    > .drop-folder {
      height: 100%;
    }
  }
}

.drag-start-leaf .folders > .folder .folder > .marker > .drop-folder {
  position: absolute;
  left: -2px;
  width: calc(100% - 3px);
}

.drag-start-leaf .folders > .folder > .marker,
.drag-start-folder .marker {
  > .drop-top,
  > .drop-bottom,
  > .drop-folder {
    position: absolute;
    left: -2px;
    width: calc(100% - 3px);
  }
  > .drop-top {
    z-index: 2;
    top: calc(-20% - 2px);
    height: 40%;
    &.drag-enter::before {
      top: 50%;
      width: 100%;
      border-top: 2px dotted $drop-border;
    }
    &.drag-enter::after {
      top: calc(50% - 4px);
    }
  }
  > .drop-bottom {
    z-index: 1;
    top: 80%;
    height: 20%;
    &.drag-enter {
      border-bottom: 2px dotted $drop-border;
    }
    &.drag-enter::after {
      top: 0.5px;
    }
  }
}

.drag-start-leaf {
  .drag-source {
    background-color: $drag-source-bgcolor;
    > a {
      color: #222;
      text-decoration: none;
      z-index: 3;
    }
    + .leaf > .drop-top,
    + .folder > .marker > .drop-top {
      z-index: 0;
      width: 0;
      height: 0;
    }
  }
  :not(.drag-source) > a {
    pointer-events: none;
  }
}

.drag-start-folder {
  .marker.drag-source {
    z-index: 3;
    &::before {
      background-color: $drag-source-bgcolor;
    }
    > .title {
      outline: none;
    }
    ~ * {
      pointer-events: none;
    }
  }
  .marker:not(.drag-source)::before {
    background-color: transparent;
  }
  .folder.path:not([data-children="0"]) + .folder > .marker > .drop-top {
    top: -2px;
    height: 20%;
    &::before {
      top: 0;
    }
    &::after {
      top: -4px;
    }
  }
}

// draggable clone

.draggable-clone {
  position: relative;
  top: -1000px;

  > .leaf,
  > .marker {
    min-width: 50px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    > .fa-angle-right {
      display: none;
    }
    > a,
    > .title {
      display: inline-block;
      min-width: 50px;
      max-width: 200px;
      margin-left: 12px;
      padding-right: 4px;
      color: white !important;
      background-color: $draggable-bgcolor;
      border-radius: 3px;
    }
    > a {
      padding-left: 22px;
      background-position: 3px center;
    }
  }
}
