/* Glyphicon */

@font-face {
  font-family: 'FontAwesome';
  src: url('./webfont/icomoon.woff');
  src: url('./webfont/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.fa-angle-right::before {
  content: '\f105';
}

.fa-times::before {
  content: '\f00d';
}

.fa-search::before {
  content: '\f002';
}

/* Scroll bar */

.folders::-webkit-scrollbar {
  width: 11px;
}

.leafs::-webkit-scrollbar {
  width: 10px;
}

.folders::-webkit-scrollbar-thumb,
.leafs::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.folders::-webkit-scrollbar-thumb:hover,
.leafs::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.folders::-webkit-scrollbar-track,
.leafs::-webkit-scrollbar-track {
  background: transparent;
}

/* body */

body {
  margin: 5px 0 2px 2px;
  margin-right: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino SansHiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-size: 0.9em;
}

main {
  display: grid;
  grid-template-columns: min-content 1fr min-content auto;
  grid-template-rows: min-content 1fr;
}

.resize-x,
.split-h {
  width: 2px;
  height: 100%;
  grid-row-start: span 2;
}

.resize-y {
  height: 2px;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  top: -5px;
}

button[type='submit'] {
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: 0;
}

input.query {
  width: 100%;
  background: #ddd;
  border: 0;
  outline: none;
  padding: 6px;
  font-size: 1.0em;
  text-indent: 20px;
}

i.fa.fa-times {
  position: absolute;
  right: 5px;
  display: none;
}

/* Leafs pane */

.leafs {
  grid-row-start: span 2;
  overflow-x: hidden;
}

.leafs > .marker,
.leafs > .folder > .marker {
  display: none;
}

.leafs > .folder {
  padding: 0;
}

.leaf {
  display: flex;
  padding: 1px 0;
}

.leaf a {
  padding: 2px;
  margin: 0 2px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 1px center;
}

.leaf a:not(:hover) {
  color: #222;
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.leafs .folder > .leaf,
.leafs .folder > .marker {
  display: none;
}

.leafs .folder.open > .leaf {
  display: flex;
  animation: fade-in 0.15s ease-in-out;
}

/* Folders pane */

.folders {
  padding: 2px;
  overflow-x: hidden;
}

.folders .folder {
  margin-left: 4px;
  /* background-image: url(images/folder-close.png); */
}

.folders .folder .folder {
  padding-inline-start: 12px;
  display: none;
}

.folders .folder.path > .folder {
  display: block;
}

.folders .leah {
  margin-left: 14px;
}

.folders .marker {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

.folders .title {
  padding: 3px;
  padding-right: 4px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.folders .title > span {
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.folders .open > .marker > .title {
  color: white;
  background: #80bdff;
  border-radius: 3px;
}

.fa-angle-right {
  padding: 0 4px;
  transition: .1s;
  cursor: pointer;
}

.folders .path > .marker > .fa-angle-right {
  transform: rotate(90deg);
}

.folders [data-children='0'] .fa-angle-right {
  visibility: hidden;
  pointer-events: none;
}

.folders .title::before {
  content: '\f07b';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-left: 1px;
  margin-right: 4px;
  color: gray;
  width: 1.0em;
}

.folders .open > .marker > .title::before {
  content: '\f07c';
  color: white;
}
