@font-face {
  font-family: 'FontAwesome';
  src: url('./webfont/icomoon.woff');
  src: url('./webfont/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 5px 0 5px 2px;
  margin-right: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino SansHiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-size: 0.9em;
}

main {
  display: grid;
  grid-template-columns: min-content 1fr min-content auto;
}

.resize-x,
.split-h {
  width: 2px;
  height: 100%;
}

.resize-y {
  height: 2px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.fa-angle-right::before {
  content: '\f105';
}

/* Leafs pane */

.leafs {
  overflow-x: hidden;
}

.leafs > .marker,
.leafs > .folder > .marker {
  display: none;
}

.leafs > .folder {
  padding: 0;
}

.leaf {
  display: flex;
  padding: 1px 0;
}

.leaf a {
  padding: 2px;
  margin: 0 2px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 1px center;
}

.leaf a:not(:hover) {
  color: #222;
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.leafs .folder > .leaf,
.leafs .folder > .marker {
  display: none;
}

.leafs .folder.open > .leaf {
  display: flex;
  animation: fade-in 0.15s ease-in-out;
}

/* Folders pane */

.folders {
  padding: 2px;
  overflow-x: hidden;
}

.folders .folder {
  margin-left: 4px;
  /* background-image: url(images/folder-close.png); */
}

.folders .folder .folder {
  padding-inline-start: 16px;
  display: none;
}

.folders .folder.path > .folder {
  display: block;
}

.folders .marker {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

.folders .title {
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .2s;
  cursor: pointer;
}

.folders .open > .marker > .title {
  color: white;
  background: #80bdff;
  border-radius: 3px;
}

.fa-angle-right {
  margin-right: 5px;
  transition: .1s;
  cursor: pointer;
}

.path > .marker > .fa-angle-right {
  transform: rotate(90deg);
}

.folders [data-children='0'] .fa-angle-right {
  visibility: hidden;
  pointer-events: none;
}
